.App {
  text-align: center;
  
}

.App-link {
  color: #61dafb;
}

.flex-wrapper{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
}

.error-page{
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}

.error-gif{
  box-shadow: 10px 10px rgb(176, 130, 130);
}


@import url('https://fonts.googleapis.com/css2?family=Mr+Dafoe&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@900&display=swap');