.App {
  text-align: center;
  font-family: 'Exo';
}

.search-page input{
  margin-bottom: 5px;
}

.about{
  background-color: rgb(245, 245, 245, 0.5);
  width: 75%;
  margin: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: none;
  justify-content: space-around;
  align-items: center;
  align-content:center;
}
h1 {
  color:rgb(10, 9, 9);
  text-shadow: 1px 1px #fe4705;
}
h2 {
  color:rgb(10, 9, 9);
  text-shadow: 1px 1px #fe4705;
}

.App-link {
  color: #61dafb;
}

.flex-wrapper{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
}

.error-page{
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}

.error-gif{
  box-shadow: 10px 10px rgb(176, 130, 130);
}


@import url('https://fonts.googleapis.com/css2?family=Mr+Dafoe&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@400&display=swap');

