ul{
    list-style-type: none;
}

.want-to-read{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(245, 245, 245, 0.5);
}
.have-read{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(245, 245, 245, 0.5);
}
.currently-reading{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(245, 245, 245, 0.5);
}
/* 
.star-rating2 {
    display: inline-block;
    height: 46px;
    justify-content: center;
    color: #ffc700;  
} */