ul{
    list-style-type: none;
}

.my-bookshelf h1{
    font-size: xx-large;
}

.want-to-read{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(245, 245, 245, 0.55);
}
.have-read{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(245, 245, 245, 0.55);
}
.currently-reading{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(245, 245, 245, 0.55);
}
