main {
    position: absolute;
    text-align: center;
    color: black;
    line-height: 1;
    font-size: small;
    align-items: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  main > h2 {
    font-family: 'Mr Dafoe';
    margin: 0;
    font-size: 5.5em;
    margin-top: -0.7em;
    margin-bottom: -0.78em;
    color: white;
    text-shadow: 0 0 0.05em #fff, 0 0 0.2em #fe4705, 0 0 0.3em #fe4705;
    transform: rotate(-7deg);
    font-stretch: expanded;
    z-index: 2;
  }

.better-reads {
    position: relative;
    font-family: 'Exo';
    font-size: 3em;
    margin: 0;
    text-shadow: 10px 10px #fe4705;
    /* transform: skew(-15deg); */
    letter-spacing: 0.03em;
    z-index: -1;
    
    &::after {
      content: '';
      position: absolute;
      top: -0.1em;
      right: 0.05em;
      width: 0.4em;
      height: 0.4em;
      background: 
        radial-gradient(white 3%, rgba(white, 0.3) 15%, rgba(white, 0.05) 60%, transparent 80%),
        radial-gradient(rgba(white, 0.2) 50%, transparent 60%) 50% 50% / 5% 100%,
        radial-gradient(rgba(white, 0.2) 50%, transparent 60%) 50% 50% / 70% 5%;
      background-repeat: no-repeat;
    }
  }

  @import url('https://fonts.googleapis.com/css2?family=Mr+Dafoe&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Exo:wght@900&display=swap');