.book-item{
    display: flex;
    flex-direction: grid;
    grid-template-columns: auto auto;
    border-style: double;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 1px;
    
}

.image-container{
    width: 25%;
    float: left;
}
.text-container{
   width: 74%;
   font-size: larger;
   line-height: 1.3;
}

/* .content >ul {
    display: flex;
    justify-content: center;
    margin-right: auto;
} */

/* .change-caps{
    text-transform: capitalize;
} */

     