.container {
    position: relative;
    text-align: center;
    color: black;
    font-size: small;
  }

  .centered1 {
    position: absolute;
    top: 50%;
    left: 48.7%;
    transform: translate(-50%, -50%);
  }
  .centered2 {
    position: absolute;
    top: 50%;
    left: 51.2%;
    transform: translate(-50%, -50%);
  }